/ *身体样式* /
body {background-repeat：no-repeat; margin：0px; font-size：10pt; margin-top：0px; margin-left：0px; margin-right：0px;}
body.main {背景色：#FFFFFF;}
/ *消息背景* /
body.msg {背景色：#fafafa;}

/ *框架样式* /
.fr {border-top：2px solid＃8CA1AE; border-left：3px solid＃8CA1AE;}

/ * GridView样式 - 常规* /
.hkgv {border：solid 1px＃c0c0c0}
/*.hkgv th {border-bottom：solid 1px＃c0c0c0;}
.hkgv td {border-bottom：solid 1px＃c0c0c0;} * /

tr.hkHeadStyle
  {/ *表头* /
	身高：35px;
	background-color：＃f5f5f5;
	颜色：＃666666;
    字体重量：粗体;
    文本对齐：中心;
  }
tr.hkHeadStyle td {
	border-top：1px solid＃c0c0c0;
	border-bottom：1px solid＃c0c0c0;
	border-left：1px solid＃c0c0c0;
	border-right：1px solid＃c0c0c0;
  }
tr.hkRowStyle
  {/ *表体* /
  	身高：25px;
  	background-color：#ffffff;
  }
tr.hkRowStyle td {
  	border-top：1px solid＃c0c0c0;
	border-bottom：1px solid＃c0c0c0;
	border-left：0px;
	border-right：0px;
  }
tr.hkAltRowStyle
  {/ *交叉行* /
	身高：25px;
  	background-color：#fafafa;
  	颜色：＃000000;
  }
tr.hkAltRowStyle td {
	border-top：1px solid＃c0c0c0;
	border-bottom：1px solid＃c0c0c0;
	border-left：0px;
	border-right：0px;
  }
/ *无数据行* /
tr.hkEmpRowStyle {height：35px; background-color：#fafafa; color：＃FF0000; font-weight：bold;}
tr.hkEmpRowStyle td {padding-left：10px;}
/ *总计行* /
tr.hkBottomStyle {padding-left：5px; padding-right：5px; height：25px; background-color：＃ecece8; border-collapse：collapse;}
tr.hkBottomStyle td {border-bottom：1px solid＃c0c0c0; border-left：0px; border-right：0px;}
/ * GV自带分页的行* /
tr.pagebottom {padding-left：5px; padding-right：5px; height：25px; background-color：#ffffff; border-collapse：collapse;}
tr.pagebottom td {border-top：1px; border-bottom：0px; border-left：0px; border-right：0px;} 

 / *隐藏列* /
.hidden {display：none;}

/ * GridView样式 - 打印* /
tr.print_title {
	身高：22px;
	background-color：#FFFFFF;
    字体重量：打火机;}
tr.print_bottom {
	身高：20px;
	background-color：#CCCCCC;}
tr.print_list_gray {
	身高：20px;
	background-color：#FFFFFF;}

/ *标签按钮样式* / 
span.lblbtn {color：＃157FCC; text-decoration：underline;}
      
/ *按钮样式* /
input.mybtn {BORDER-RIGHT：＃a8a8a8 1px outset; PADDING-RIGHT：4px; BORDER-TOP：＃a8a8a8 1px一开始; 显示：内联; PADDING-LEFT：6px; FONT-WEIGHT：正常; FONT-SIZE：12px; BACKGROUND-IMAGE：url（../ images / buttonbl_bg.gif）; PADDING-BOTTOM：2px; MARGIN：1px 0px 0px; BORDER-LEFT：＃a8a8a8 1px outset; LINE-HEIGHT：15px; PADDING-TOP：1px; BORDER-BOTTOM：＃a8a8a8 1px一开始; 高度：20px;}
.pagebtn {/ *每页行数* /
    BORDER-RIGHT：1px solid #CCCCCC; BORDER-TOP：1px solid #fff;背景：＃336699; MARGIN-LEFT：2px; BORDER-LEFT：1px solid #fff; WIDTH：30px;
	高度：20px; PADDING-TOP：2px; BORDER-BOTTOM：1px solid #CCCCCC; LETTER-SPACING：normal; color：#FFFFFF; font-size：10pt;}

/ * TextBox样式* / 
input.mytext {border：1px solid＃B0C5E6; font：12px; font-family：“Tahoma”，“宋体”;} / *单行* /
textArea.mytextarea {border：1px solid＃B0C5E6; font：12px; font-family：“Tahoma”，“宋体”;} / *多行* /
input.pagetext {/ *每页N行* /
    font-size：10pt; background-color：#ffffff; border：solid 1px＃b4b4b4; width：40px; height：19px; padding：2px;}
.wordtext {/ *短信字数* /
	border-right：0px solid; border-top：0px solid; font-size：10pt; border-left：0px solid; width：23px;
	border-bottom：0px solid; height：auto; background-color：＃e3e0dc;}
input.logintext {border：1px solid＃525050; font：14px; font-family：“Tahoma”，“宋体”;} / *登录页* /
.dj_text {/ *单据类* /
	font-size：10pt; background-color：＃f4f4f4; border-top-width：0px; BORDER-RIGHT：＃D8D8D8 0px solid;
	BORDER-BOTTOM：＃D8D8D8 1px solid; border-left-width：0px; font-family：宋体;}
     
/ *链接样式* /
a.gvlink：link {COLOR：＃157FCC; 文字装饰：underLine} / * GridView中文本* /
a.gvlink：访问过{COLOR：＃157FCC; 文字装饰：underLine}
a.gvlink：active {COLOR：＃157FCC; 文字装饰：underLine}
a.gvlink：悬停{COLOR：＃157FCC; 文字装饰：underLine;}
a.top_text {font：10pt宋体;颜色：＃000000; text-decoration：none;} / *顶导航菜单文本* /
a.top_text：悬停{COLOR：＃000000; text-decoration：none;}
a.top_text：active {COLOR：＃000000}
a.blue:link {font-size：10pt; color：＃000099; text-decoration：underline;} / *蓝色链接* /
a.blue:visited {font-size：10pt; color：＃000099; text-decoration：underline;}
a.blue:hover {font-size：10pt; color：＃000099; text-decoration：underline;}
a.blue:active {font-size：10pt; color：＃000099; text-decoration：none;}
a.black:link {font-size：10pt; color：＃000000; text-decoration：none;} / *黑色链接* /
a.black:visited{font-size:10pt; color：＃000000; text-decoration：none;}
a.black:hover{font-size：10pt; color：＃000000; text-decoration：none;}
a.black：active{font-size：10pt; color：＃000000; text-decoration：none;}
a.yellow：link {font-size：10pt; color：yellow; text-decoration：none;} / *黄色链接* /
a.yellow：访问过{font-size：10pt; color：yellow; text-decoration：none;}
a.yellow：hover {font-size：10pt; color：＃DC143C; text-decoration：none;}
a.yellow：active {font-size：10pt; color：yellow; text-decoration：none;}
a.red:link {font-size：10pt; color：red; text-decoration：none;} / *红色链接* /
a.red:visited{font-size:10pt; color：red; text-decoration：none;}
a.red:hover{font-size：10pt; color：＃DC143C; text-decoration：none;}
a.red:active{font-size:10pt; color：red; text-decoration：none;}
.page_text {font：10pt宋体;颜色：＃333333} / *翻页文本* /
a.page_text {font：10pt宋体;颜色：＃333333}
a.page_text：悬停{颜色：＃333333}
a.page_text：active {COLOR：＃333333}
a.mail_top {font：10pt宋体; COLOR：#FFFFFF; text-decoration：none;} / *分页标签文本* /
a.mail_top：悬停{COLOR：#FFFFFF; text-decoration：none;}
a.mail_top：active {COLOR：#FFFFFF}

/ *表类* /
table {font-size：10pt;} / *默认表* /
table.form td {border-bottom：1px solid＃C0C0C0; padding：5px;} / *输入表单* /
.form {border-top：3px solid＃CC6600; border-bottom：1px solid＃CC6600; background-color：#FFFFFF; border-collapse：collapse;} / *表格内表头* /
.form-title {background-color：#fafafa; border-top：1px solid＃C0C0C0; border-left：1px solid＃C0C0C0; border-right：1px solid＃C0C0C0;} / *表格内标题行* /
.form-item {background-color：#fafafa; text-align：right; border-top：1px solid＃C0C0C0; border-left：1px solid＃C0C0C0; border-right：1px solid＃C0C0C0;} / *表格内字段名* /
.form-txt {padding：9px; background-color：＃FFFAF0; line-height：150％} / *表格内字段值* /
.td_base {PADDING-LEFT：10px; FONT-WEIGHT：大胆; FONT-SIZE：12px; 颜色：#FFFFFF; LINE-HEIGHT：20px; 背景颜色：＃157FCC; 文字 - 装饰：无} / *弹出页面标题栏* /
.tr_top {background-image：url（../ images / top_line.jpg）} / *首页背景* /

/ *菜单样式* /
.bg {
	background-image：url（../ images / menu_bg.jpg）;
	background-repeat：no-repeat;
	背景位置：左下角;
}
。话题 {
	font-weight：bold;
	颜色：＃000000;
	padding-left：12px;
	background-color：＃D7E9F8;
}
.table {
	border-right：solid 1px＃A1A7AB;
	border-left：solid 1px＃A1A7AB;
}

/ *菜单竖向分隔线* /
.line {
	border-left：1px solid＃8f9396;
	border-right：1px solid＃dad9d7;
	宽度：2px;
	身高：17px;
}

/ *小时水平线* /
.hr1 {border：none; background-color：#CCCCCC; color：#CCCCCC; height：1px; width：100％;} / *同时支持显示和打印* /
.hr2 {height：1px; border：none; border-top：1px dashed＃0066CC;} / *蓝色点线，部分浏览器不能打印* /
.hr3 {height：1px; border：none; border-top：1px solid＃555555;} / *灰色实线，部分浏览器不能打印* /
.hr4 {height：3px; border：none; border-top：3px double red;} / *双行线，同时支持显示和打印* /
.hr5 {height：5px; border：none; border-top：5px ridge green;} / *上粗下窄，同时支持显示和打印* /
.hr6 {height：10px; border：none; border-top：10px groove skyblue;} / *等宽线，同时支持显示和打印* /

/ * *隐藏/
.tddisp {
	显示：无
}

/ * 4个选项卡* /
BUTTON.btn4on
{
    BORDER-RIGHT：中等没有;
    BORDER-TOP：中等无;
    PADDING-LEFT：0px;
    PADDING-RIGHT：0px;
    FONT-SIZE：9pt;
    BACKGROUND-IMAGE：url（../ images / tab_b_y.gif）;
    PADDING-BOTTOM：4px;
    保证金：0px;
    溢出：隐藏;
    BORDER-LEFT：中等无;
    宽度：91px;
    CURSOR：手;
    颜色：#ffffff;
    PADDING-TOP：0px;
    BORDER-BOTTOM：中等无;
    背景 - 重复：不重复;
    FONT-FAMILY：“宋体”;
    身高：21px;
    背景颜色：透明;
    TEXT-ALIGN：中心
}
BUTTON.btn4off
{
    BORDER-RIGHT：中等没有;
    BORDER-TOP：中等无;
    PADDING-LEFT：0px;
    PADDING-RIGHT：0px;
    FONT-SIZE：9pt;
    BACKGROUND-IMAGE：url（../ images / tab_b_n.gif）;
    PADDING-BOTTOM：4px;
    保证金：0px;
    溢出：隐藏;
    BORDER-LEFT：中等无;
    宽度：91px;
    CURSOR：手;
    颜色：＃000000;
    PADDING-TOP：0px;
    BORDER-BOTTOM：中等无;
    背景 - 重复：不重复;
    FONT-FAMILY：“宋体”;
    身高：21px;
    背景颜色：透明;
    TEXT-ALIGN：中心
}

/ *桌面首行* /
.index_title {height：30px; border-top：0px; border-bottom：1px solid #CCCCCC; background-color：＃DFEAF2; border-collapse：collapse;}